body {
    font-family: 'Open Sans', sans-serif;
height: 100hv;
background-color: rgb(245, 210, 233);
    ;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.page-header {
background-color: rgb(25, 24, 70);
}
.sing-in-btn {
}
.sing-up-btn {
}
.img-wallet {
}
.about-wallet {
}
.footer {
    margin-bottom: 20px;
}
.footer-text {
}
.logo-intive {
}